body {
  font-family: "Roboto", sans-serif;
  background-color: hsl(235, 18%, 26%);
  color: hsl(234, 29%, 20%);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 100vh;
  min-height: 100dvh;
}
.sign-up-container {
  background-color: #fff;
  max-width: 45%;
  width: auto;
  border-radius: 30px;
  display: flex;
  padding: 20px 20px 20px 50px;
  gap: 40px;
  align-items: center;
}
h1 {
  font-size: 40px;
  margin-top: 0;
}
.join-p {
  font-size: 12px;
  margin-bottom: 20px;
  padding-right: 30px;
}
.list-item {
  font-size: 13px;
}
.list-and-icon {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
}
.list-icon {
  width: 16px;
  height: auto;
}
.email-header-and-error {
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  font-weight: 700;
  margin-block: 30px 10px;
}
.error-msg {
  color: hsl(4, 100%, 67%);
  display: none;
}
input,
#subscribe-btn {
  border-radius: 6px;
  max-width: 100%;
  width: 100%;
}
input {
  padding: 14px 0px;
  margin-bottom: 20px;
  text-align: center;
  border: 1px solid hsl(231, 7%, 60%);
}
input:hover {
  cursor: pointer;
}
input:focus {
  outline: none;
  border: 1px solid hsl(234, 29%, 20%);
  text-align: center;
}
::placeholder {
  color: hsl(231, 7%, 60%);
  text-align: center;
}
#subscribe-btn {
  background-color: hsl(234, 29%, 20%);
  color: #fff;
  font-weight: 700;
  font-size: 12px;
  padding: 16px 20px;
  border: none;
}
.sign-up-illustration-desktop {
  max-width: 100%;
  height: auto;
  width: 350px;
}
.sign-up-illustration-mobile {
  display: none;
}
.error-input {
  color: hsl(4, 100%, 67%);
  background-color: hsla(4, 100%, 67%, 0.1);
  border: 1px solid hsl(4, 100%, 67%);
}
.hidden {
  display: none;
}
.success-container {
  background-color: #fff;
  width: 20%;
  border-radius: 25px;
  padding: 30px 50px;
}
.success-icon {
  width: 50px;
  height: auto;
  margin-bottom: 25px;
}
#dismiss-btn {
  background-color: hsl(234, 29%, 20%);
  color: #fff;
  font-weight: 700;
  font-size: 12px;
  padding: 14px 20px;
  border: none;
  border-radius: 6px;
  width: 100%;
}
#dismiss-btn:hover,
#subscribe-btn:hover {
  cursor: pointer;
  background: linear-gradient(to right, #fe537a, #ff673e);
}
.thanks-h1 {
  margin-bottom: 0;
}
.success-p {
  font-size: 12px;
  line-height: 1.5;
  margin-block: 15px 25px;
}
.attribution {
  font-size: 11px;
  text-align: center;
  color: #fff;
  margin-top: 60px;
}
.attribution a {
  color: yellow;
}

@media (max-width: 576px) {
  .sign-up-illustration-desktop {
    display: none;
  }
  .sign-up-illustration-mobile {
    display: unset;
    max-width: 100%;
    height: auto;
    width: 100%;
  }
  body {
    background-color: #fff;
  }
  .sign-up-container {
    background-color: #fff;
    max-width: 100%;
    width: 100%;
    display: flex;
    padding: 0px;
    gap: 0px;
    align-items: center;
    flex-direction: column-reverse;
  }
  .success-container {
    background-color: #fff;
    max-width: 100%;
    width: 100%;
    padding: 0px;
  }
  .mobile-only-container {
    padding: 20px;
    margin-top: 100px;
  }
  .content-div {
    padding: 30px 20px;
  }
  .hidden {
    display: none;
  }
  #dismiss-btn {
    margin-top: 100px;
  }
  .attribution {
    color: hsl(234, 29%, 20%);
    margin-block: 40px 30px;
  }
  .attribution a {
    color: blue;
  }
}
